@font-face {
  font-family: "iconfont"; /* Project id 4345534 */
  src: url('iconfont.woff2?t=1703642635456') format('woff2'),
       url('iconfont.woff?t=1703642635456') format('woff'),
       url('iconfont.ttf?t=1703642635456') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yunyingbaobiao:before {
  content: "\e620";
}

.icon-jiekou1:before {
  content: "\e694";
}

.icon-jiaoseguanli:before {
  content: "\e618";
}

.icon-dingshirenwu:before {
  content: "\e651";
}

.icon-daimashengcheng:before {
  content: "\e636";
}

.icon-a-Icon-line-hamburger-right1x:before {
  content: "\e84c";
}

.icon-a-Icon-line-hamburger-left1x:before {
  content: "\e84d";
}

.icon-a-shujujiankong2:before {
  content: "\e628";
}

.icon-a-zaixianyonghu2:before {
  content: "\e629";
}

.icon-shouqi:before {
  content: "\e6b8";
}

.icon-xiala:before {
  content: "\e6b9";
}

.icon-gantanhao-quan:before {
  content: "\e70f";
}

.icon-yuandianxiao:before {
  content: "\e757";
}

.icon-duihao:before {
  content: "\eaf1";
}

.icon-fuzhi:before {
  content: "\ec7a";
}

.icon-shuaxin:before {
  content: "\e8b9";
}

.icon-shezhi:before {
  content: "\e642";
}

.icon-midutu:before {
  content: "\e749";
}

.icon-wodedingdan:before {
  content: "\e655";
}

.icon-admin-manage:before {
  content: "\e60e";
}

.icon-xiaolian:before {
  content: "\e8ab";
}

.icon-chongzhi:before {
  content: "\e60b";
}

.icon-jiekou:before {
  content: "\e607";
}

.icon-4_square_solid:before {
  content: "\e64d";
}

.icon-1_square_solid:before {
  content: "\e64e";
}

.icon-5_square_solid:before {
  content: "\e64c";
}

.icon-3_square_solid:before {
  content: "\e64f";
}

.icon-2_square_solid:before {
  content: "\e650";
}

